<!DOCTYPE html>
<html>
<head>
    <title>UNIP | APS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="https://flowbite.com/docs/images/logo.svg">
    <style>
        * {
            font-family: 'Inter', sans-serif;
        }
        #image-container > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
    {% load static %}
</head>
<body>
    {% include 'shared/nav.html' %}
    
    <div class="px-4 py-8 max-w-screen-xl mx-auto">
        <div class="flex justify-between items-cecnter mb-4">
            <h2 class="text-2xl font-bold">Atualizar localização</h2>
        </div>

        <form method="post" action="{% url 'update' location.id %}">
            {% csrf_token %}
            <input type="hidden" name="location_id" value="{{ location.id }}">
            <div class="mb-6">
              <label for="image_name" class="block mb-2 text-sm font-medium text-gray-900">Nome da imagem</label>
              <input type="text" name="image_name" value="{{ location.image_name }}" id="image_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Cerrado Goiano">
            </div>
            <div class="grid md:grid-cols-3 md:gap-6">
                <div class="mb-6">
                  <label for="latitude" class="block mb-2 text-sm font-medium text-gray-900">Latitude</label>
                  <input type="text" name="latitude" value="{{ location.latitude }}" id="latitude" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="-16.7501206">
                </div>
                <div class="mb-6">
                  <label for="longitude" class="block mb-2 text-sm font-medium text-gray-900">Longitude</label>
                  <input type="text" name="longitude" value="{{ location.longitude }}" id="longitude" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="-49.213212">
                </div>
                <div class="mb-6">
                  <label for="altitude" class="block mb-2 text-sm font-medium text-gray-900">Altitude</label>
                  <input type="text" name="altitude" value="{{ location.altitude }}" id="altitude" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="15z">
                </div>
            </div>
            
            <div class="flex items-center justify-center w-full mb-6 ui-container1">
                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden" />
                </label>
            </div> 
            
            <div class="flex items-center imageInput justify-center w-full mb-6 ui-container2">
                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
                    <div id="image-container" class="w-full h-full p-5"></div>
                </label>
            </div> 

            <a href="{% url 'home' %}" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 float-left">Voltar</a>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center float-right">Salvar</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script>
        const fileInput = document.getElementById('dropzone-file');
        const imageContainer = document.getElementById('image-container');
        var uiContainer1 = document.querySelector('.ui-container1');
        var uiContainer2 = document.querySelector('.ui-container2');

        document.addEventListener('DOMContentLoaded', function () {
            if (uiContainer2) {
                uiContainer2.classList.add('hidden');
            }
        });

        fileInput.addEventListener('change', function () {
            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const image = new Image();
                if (uiContainer1) {
                    uiContainer1.classList.add('hidden');
                }
                if (uiContainer2) {
                    uiContainer2.classList.remove('hidden');
                }

                image.src = URL.createObjectURL(file);
                // image.width = 100 ;
                // image.height = 100;

                imageContainer.innerHTML = '';
                imageContainer.appendChild(image);
            }
        });
    </script>
</body>
</html>
