<div class="sticky top-0 left-0 w-full z-10">
    <nav class="bg-white border-b border-gray-200">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
            <a href="https://flowbite.com" class="flex items-center">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="APS Logo" />
                <span class="self-center text-2xl font-bold whitespace-nowrap">APS IV</span>
            </a>
            <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5" type="button">
                Popular DB
            </button>
        </div>
    </nav>
    <nav class="bg-gray-50 border-b border-gray-200">
        <div class="max-w-screen-xl px-4 py-3 mx-auto">
            <div class="flex items-center">
                <ul class="flex flex-row font-medium mt-0 mr-6 space-x-8 text-sm">
                    <li>
                        <a href="/" class="text-gray-900 hover:underline" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="/fila" class="text-gray-900 hover:underline">Fila</a>
                    </li>
                    <li>
                        <a href="/pilha" class="text-gray-900 hover:underline">Pilha</a>
                    </li>
                    <li>
                        <a href="/lista" class="text-gray-900 hover:underline">Lista</a>
                    </li>
                    <li>
                        <a href="/arvore" class="text-gray-900 hover:underline">Árvore</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center" data-modal-hide="popup-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
                <svg class="mx-auto mb-4 text-red-700 w-12 h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
                <p class="mb-5 font-normal text-gray-500 ">Você tem certeza que deseja popular o banco de dados com mais 10.000 dados?<br><br>Essa ação pode levar de 5 a 10 minutos</p>
                <a href="/fill_database" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Sim, confirmar
                </a>
                <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200">
                    Não, cancelar
                </button>
            </div>
        </div>
    </div>
</div>
